torch==2.11.0
safetensors==0.7.0
transformers==4.46.3
peft==0.13.2
accelerate==0.34.2
huggingface_hub==0.36.2
tokenizers==0.20.3
javalang==0.13.0
langchain==1.2.13
langchain-core==1.2.23
rank-bm25==0.2.2
matplotlib==3.10.8
pydantic==2.12.5
nltk==3.9.4
rouge_score==0.1.2
codebleu==0.6.1
scikit-learn
numpy==2.4.3
regex==2026.2.28
requests==2.33.0
tree-sitter==0.21.3
tree-sitter-java==0.23.5
Flask==3.1.3
npm==0.1.1